.puzzle-piece {
  height: 128px;
  width: 128px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  font-weight: bold;
  font-size: large;
}

.puzzle-banner {
  border-bottom-color: #ED1E27;
  background-color: #ED1E27;
  background-image: linear-gradient(#F47178, #ED1E27 50%, #D4111B);
  color: #F8EF20 !important;
  text-decoration-color: #F8EF20 !important;
}

.navbar-header a {
  color: #F8EF20 !important;
}

.puzzle-piece-taken-0 {
  background-image: url("/public/images/puzzle-pieces/gray-0.png");
}

.puzzle-piece-taken-1 {
  background-image: url("/public/images/puzzle-pieces/gray-1.png");
}

.puzzle-piece-taken-2 {
  background-image: url("/public/images/puzzle-pieces/gray-2.png");
}

.puzzle-piece-taken-3 {
  background-image: url("/public/images/puzzle-pieces/gray-3.png");
}

.puzzle-piece-available-0 {
  background-image: url("/public/images/puzzle-pieces/green-0.png");
}

.puzzle-piece-available-1 {
  background-image: url("/public/images/puzzle-pieces/green-1.png");
}

.puzzle-piece-available-2 {
  background-image: url("/public/images/puzzle-pieces/green-2.png");
}

.puzzle-piece-available-3 {
  background-image: url("/public/images/puzzle-pieces/green-3.png");
}


.confirm-selection {
    text-align: center;
}

.paypal-button {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.paypal-simu-button {
  text-align: center;
}
.employer-and-occupation-box {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

table.table-cell-hover td:hover {
background-color: #dbdbdb;
}

.iwa-banner {
  padding-top: 5px;
  padding-right: 100px;
}

.reset-all-fields-button {
  padding-top: 15px;
  padding-bottom: 15px;
}

.center-align-table-cell { text-align: center }

.location-cell {
  width: 12%;
}


.login-container {
    padding: 25px;
    position: fixed;
}

.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}


.login-header {
 border:0 solid #fff;
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
}

.login-wrapper {
    text-align: center;
}

.validation-error {
    background-color: rgb(242, 222, 222);
    border-color: #cc0000;
    box-shadow: 0 0 5px rgba(242, 222, 222, 0.9);
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
